<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= data.title %></title>
  <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    .header{
      width: 100%;
      height: 60px;
      background: #42b983;
      padding: 0 30px;
      line-height: 60px;
      box-sizing: border-box;
    }
    .header a{
      color: #FFF;
      font-size: 16px;
      text-decoration: none;
    }
    .container{
      margin: 30px auto;
      width: 100%;
      min-height: 100%;
      max-width: 800px;
      background: #FFF;
    }
    .blog{
      padding: 30px;
      background: #FFF;
      min-height: 100%;
    }
    .blog .title{
      font-size: 32px;
      margin: 10px 0;
      font-weight: bold;
    }
    .blog .author{
      font-size: 16px;
      margin:20px 0;
    }
    .blog .abstract{
      font-size: 16px;
      color: #333;
      border: 1px solid #E6E6E6;
      padding: 20px;
      background: #EEE;
    }
    .blog .content{
      padding: 20px 0;
      word-wrap:break-word;
    }
    .blog .content p,.blog .content div{
      margin: 20px 0;
      font-size: 16px;
      line-height: 26px;
    }
    .blog .content img{
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
    .blog .content pre{
      padding: 15px;
      display: block;
      background: #FAFAFA;
      overflow: auto;
      border:1px solid #E6E6E6;
      color: #333;
    }
    .comments{
      border-top:3px solid #EEE;
      padding: 30px;
    }
    .comments .comments-title{
      color: #000;
      font-size: 18px;
      font-weight: bold;
    }
    .comments .comments-textarea{
      width: 100%;
      overflow: hidden;
      margin-top: 20px;
    }
    .comments-textarea textarea{
      width: 100%;
      height: 100px;
      padding: 10px;
      border: 1px solid #E6E6E6;
      background: #FFF;
      box-sizing: border-box;
      font-size: 16px;
      line-height: 26px;
      outline: none;
      transition: border .3s;
    }
    .comments-textarea textarea:focus{
      border: 1px solid #42b983;
    }
    .comments-textarea button{
      height: 40px;
      padding: 0 30px;
      box-sizing: border-box;
      background: #FFF;
      border: 1px solid #42b983;
      cursor: pointer;
      float: right;
      outline: none;
      color: #42b983;
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
      transition: all .3s;
    }
    .comments-textarea button:hover{
      background: #42b983;
      color: #FFF;
    }
    .comments .comments-item{
      margin-top:30px;
      padding: 30px;
      border: 1px solid #EEE;
    }
    .comments-item .comments-time{
        font-size: 14px;
        color: #CCC;
    }
    .comments-item .comments-content{
        margin-top: 10px;
        font-size: 16px;
    }
    .pagination{
      padding-bottom: 40px;
      text-align: center; 
    }
    .pagination button{
      padding: 0;
      width: 100px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #E6E6E6;
      font-size: 14px;
      cursor: pointer;
      outline: none;
      background: #FFF;
      color: #42b983;
    }
    .pagination span{
      padding:0 40px;
    }
  </style>
</head>
<body>
    <div class="header">
        <a href="/">小白的个人博客</a>
    </div>
    <div class="container">
        <div class="blog">
            <h1 class="title"><%= data.title %></h1>
            <p class="author">文 / <%= data.author%></p>
            <div class="abstract"><%= data.abstract%></div>
            <div class="content"><%- data.content %></div>
          </div>
        <div class="comments">
          <div class="comments-title">随手评论</div>
          <div class="comments-textarea">
            <textarea id="textarea" style="resize:none;" placeholder="这里输入内容" maxlength="200"></textarea>
            <button id="addBtn" type="button">来一句</button>
          </div>
          <div id="commentBody">
          </div>
        </div>
        <div class="pagination">
          <button id="prev">＜ PREV</button>
          <span id="pageNo"></span>
          <button id="next">NEXT ＞</button>
        </div>
    </div>
    <script src="/javascripts/jquery.3.3.1.min.js"></script>
    <script>
      $(function(){
        var textarea = $("#textarea");
        var commentBody = $("#commentBody");
        var blogid = '<%=data.id%>';
        var pageNo = 1;
        var pageCount = 10;
        var prev =  $("#prev");
        var next = $("#next");
        var page = $("#pageNo");

        var  getCommentList = function(){
          $.ajax({
               type:'GET',
               url:'/comments/list',
               data:{
                pageCount:pageCount,
                pageNo:pageNo,
                blogid:blogid
               },
               success:function(res){
                 if(res.code == 200){
                   //console.log(res);
                   CommentsTemp(res.data);
                 }else{
                   console.log("系统出错了");
                 }
               }
            })
        }
        getCommentList();//获取评论数据

        prev.click(function(){
          pageNo--;
          getCommentList();//获取评论数据
        })

        next.click(function(){
          pageNo++;
          getCommentList();//获取评论数据
        })

        var CommentsTemp = function(data){
            var rows = data.rows;
            var count = data.count;
            var pageAll = Math.ceil(count/pageCount);
            var html = '';
            for(var i = 0; i < rows.length; i++){
              html+='<div class="comments-item">'
                      +'<p class="comments-time">'+rows[i].createdAt+'</p>'
                      +'<p class="comments-content">'+rows[i].content+'</p>'
                    +'</div>';
            }
            commentBody.html(html);
            //渲染上下页
            if(pageNo <= 1){
              prev.attr('disabled',true);
            }else{
              prev.removeAttr('disabled');
            }
            
            page.text(pageNo);

            if(pageNo >= pageAll){
              next.attr('disabled',true);
            }else{
              next.removeAttr('disabled');
            }
        }


        //点击添加评论按钮
        $('#addBtn').click(function(){
           let content = textarea.val();
           if(content!=''){
            addComment(content);
           }else{
             alert("请输入评论内容");
           }
         });
         //添加评论
         var addComment = function(content){
            $.ajax({
               type:'POST',
               url:'/comments/create',
               data:{
                 data:{
                  blogid:blogid,
                  content:content
                 }
               },
               success:function(res){
                 if(res.code == 200){
                  textarea.val("");
                  pageNo =1;
                  getCommentList();
                 }else{
                   console.log("系统出错了");
                 }
               }
            })
         }
      });
    </script>
</body>
</html>