<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>小白的个人博客</title>
  <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    .header{
      width: 100%;
      height: 40px;
      padding: 0 30px;
      line-height: 40px;
      box-sizing: border-box;
      border-bottom:1px solid #E6E6E6;
    }
    .header a{
      color: #333;
      font-size: 16px;
      text-decoration: none;
    }
    .container{
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      padding-bottom: 30px;
    }
    .list{
      width: 100%;
      padding-top: 30px;
    }
    .list .item+.item{
      margin-top: 30px;
    }
    .list .item{
      display: block;
      text-decoration: none;
      width: 100%;
      background: #FFF;
      padding: 30px;
      cursor: pointer;
      transition: .2s all;
      box-sizing: border-box;
      word-wrap:break-word;
    }

    .list .item .item-title{
      font-size: 20px;
      color: #333;
    }
    .list .item .item-author{
      margin-top: 10px;
      color: #999;
    }

    .list .item .item-abstract{
       margin-top: 10px;
       font-size: 14px;
       color: #666;
    }
    .page{
      margin-top: 30px;
      background: #FFF;
      text-align: center;
      display: flex;
    }
    .page a,span{
      flex: 1;
      display: inline-block;
      padding:15px;
      text-decoration: none;
      font-size: 14px;
      color: #333;
    }
    .page .page-span{
       opacity: .5;
       cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="header">
      <a href="javascript:;">小白的个人博客</a>
  </div>
  <div class="container">
      <div class="list">
        <% for( var i=0; i < data.rows.length; i++){ %>
        <a class="item" href="/<%= data.rows[i].id %>">
            <h2 class="item-title"><%= data.rows[i].title %></h2>
            <p class="item-author">文 / <%= data.rows[i].author %></p>
            <p class="item-abstract"><%= data.rows[i].abstract %></p>
        </a>
        <% } %>
      </div>
      <div class="page">
        <% if(pageNo>1){%>
          <a href="?pageNo=<%= pageNo-1 %>">＜ PREV</a>
        <%}else{%>
          <span class="page-span">＜ PREV</span>
        <%}%>
        <span><%= pageNo %> / <%= Math.ceil(data.count/pageCount) %></span>
        <% if(Math.ceil(data.count/pageCount)>pageNo){ %>
          <a href="?pageNo=<%= pageNo+1 %>">NEXT ＞</a>
        <%}else{%>
          <span class="page-span">NEXT ＞</span>
        <%}%>
      </div>
  </div>
</body>
</html>